/* Body and header styles */
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0 50px;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 40px;
}

.top-area,
.top-section {
    background-color: rgba(255, 144, 14, 0.1);
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 0 50px;
}

ul {
    display: flex;
    gap: 80px;
}

ul li {
    list-style: none;
    margin-top: 30px;
}

ul li a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
}

.top-section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 100px;
}

.title-area {
    text-align: center;

}

.explore-btn {
    Width: 180px;
    Height: 64px;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
}

.banner-area img {
    width: 100%;
    height: 100%;
}

.our-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 30px 70px 30px;

}

.features-album {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.features-list {
    margin-top: 270px;
    margin-left: 30px;
}

.fav-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;

}

.fav-description {
    padding-left: 30px;
}

.description-items {
    width: 514px;
    height: 150px;
    font-size: 16px;
    padding: 20px 10px;
    box-shadow: 10px 10px 50px lightgray;
    border-radius: 5px;
}

.fav-photo img {
    width: 100%;
}

#experince-btn span {
    font-size: 65px;
    color: white;
    font-weight: 700;
}

#experince-btn {
    position: relative;
    top: -120px;
    left: -70px;
    background-color: #FF900E;
    border: none;
    border-radius: 10px;
    padding: 45px;
    color: white;
}

.some-facts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.our-achievment {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.our-achievment:hover {
    border: 2px solid goldenrod;
}

.sponsor-area {
    margin-top: 50px;
}

.sponsors-title {
    text-align: center;
    margin-bottom: 50px;
}

.sponsor-image a {
    filter: grayscale(100%);
}

footer {
    margin-top: 50px;
    background-color: #FFF4E7;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #424242;
}

/* Styles of Media Quary */

@media screen and (max-width:576px) {

    body {
        margin: 0;
        padding: 0;
    }

    img {
        width: 100%;
        height: 100%;
    }

    nav {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        padding: auto;
    }

    ul {
        display: flex;
        gap: 0;
        flex-direction: column;
    }

    .top-section {
        display: flex;
        flex-direction: column-reverse;
    }

    .our-features,
    .features-album {
        display: grid;
        grid-template-columns: 1fr;
    }

    .fav-features,
    .some-facts {
        display: grid;
        grid-template-columns: 1fr;
    }

    .sponsor-image {
        margin-top: 20px;
    }

}